.container-parede {
  display: grid;
  max-width: 1200px;
  color: white;
  gap: 10px;
  background-color: gray;
  grid-template-columns: 200px 50px 300px auto;
}
.item-revestimento01,
.item-revestimento02,
.item-revestimento03,
.item-revestimento04 {
  background-color: orange;
  display: grid;
  justify-items: center;
  align-items: center;
}
